.glitch {
    /*background-image: url(../images/6.gif);*/
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    margin-left: -100px;
    z-index: -1;
}
.top {
    opacity: 0;
    position: absolute;
}
.skills-box {

}
.master {
    color: lime;
}
.skill, .link {
    font-size: 3em;
    color: blue;
}
.skill.git, .link {
    font-size: 3em;
    color: lime;
}

.link {
    color: lime;
}
.gif {
    max-width: 400px;
}